.git
.github
.env
.env.backup
.phpunit.result.cache
vendor
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests
Dockerfile
.dockerignore
render.yaml
vercel.json
.vercelignore
api
*.sqlite
database/database.sqlite
npm-debug.log
yarn-error.log
